.title{
  text-align: center;
  font-family: 'Asap', sans-serif;
}


.mini-title{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: ;
}


.content{
  font-family: 'Maven Pro', sans-serif;
}


.title-content{
  font-family: 'Asap', sans-serif;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;

  border-radius: .3rem;
}

.image{
  margin-top:20px; /*to have the space above the image*/
  margin-bottom:20px; /*to have the space under the image*/
}
